@font-face {
  font-family: interBold;
  src: url("../fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: interRegular;
  src: url("../fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: interSemiBold;
  src: url("../fonts/static/Inter-SemiBold.ttf");
}
* {
  font-family: "interSemiBold", sans-serif;
}
body {
  background: #f6f6f6;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 30px 25px;
}
.menu-items {
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
nav.main-menu a:hover {
  color: #000000;
}
header button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.burger,
.menu {
  position: fixed;
}

.burger {
  z-index: 3;
  top: 30px;
  right: 20px;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-image: url("../img/menu.svg");
  border-radius: 50%;
  background-color: #1c1d20;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease 0.3s;
  display: none;
}
.burger:hover {
  background-color: #bbbbbc;
}

body.open .burger {
  background-image: url("../img/close.svg");
  background-color: #bbbbbc;
}

.menu {
  z-index: 2;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 400px;
  height: calc(100% - 20px);
  height: 100vh;
  background: #1c1d20;
  translate: 100% 0;
  transition: translate 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  animation: menu-out 0.8s;
}

.menu nav {
  opacity: 0;
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(60% 60% at 100% 50%);
  }
  30% {
    clip-path: ellipse(60% 60% at 100% 50%);
  }
  100% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}
@keyframes menu-out {
  100% {
    clip-path: ellipse(40% 60% at 100% 50%);
  }
  30% {
    clip-path: ellipse(40% 60% at 100% 50%);
  }
  0% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

body.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
  transition: translate 0.8s cubic-bezier(0.105, 0.705, 0.32, 1);
  animation: menu-in 0.8s;
}

body.open .menu nav {
  opacity: 1;
}

.menu nav:hover a {
  opacity: 0.25;
}

.menu nav a:hover {
  opacity: 1;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a {
  position: relative;
  color: #ffffff;
  font-size: 34px;
  padding: 24px 0;
  width: 300px;
  text-decoration: none;
  transition: 0.4s;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: 0.4s;
  background-color: #5e5e63 !important;
}

.menu a::before {
  opacity: 0;
  background: rgb(255 255 255 / 20%);
}

.menu a::after {
  transform: scaleX(0);
  transform-origin: 0% 50%;
  background: #f7f7f7;
}

.menu a:hover::before {
  opacity: 1;
}

.menu a:hover::after {
  transform: scaleX(1);
}

body.open .menu a {
  animation: appear 0.25s backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.black-gradient-h1 {
  position: relative;
  font-size: 80px;
  display: inline-block;
  margin-bottom: 18px;
  font-family: "interBold", sans-serif;
  letter-spacing: -1.25px;
  text-align: center;
  background-image: linear-gradient(141deg, #969699, #1e1e22);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.location-wrapper {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 32px;
  align-items: center;
  color: #5e5e63;
}
.hero-centered-paragraph {
  font-size: 18px;
  color: #5e5e63;
  text-align: center;
  max-width: 500px;
  line-height: 150%;
  font-family: "interRegular", sans-serif;
}
.particle-wrapper {
  position: absolute;
  top: -45px;
  z-index: -75;
  width: 700px;
  height: 310px;
  z-index: 1;
}
.particle-8 {
  position: absolute;
  top: 320px;
  left: 800px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #323235;
  opacity: 0.15;
  -webkit-transform: rotate(-49deg);
  -ms-transform: rotate(-49deg);
  transform: rotate(-49deg);
}
.particle-7 {
  position: absolute;
  top: 480px;
  right: -60px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #323235;
  opacity: 0.2;
  -webkit-transform: rotate(-26deg);
  -ms-transform: rotate(-26deg);
  transform: rotate(-26deg);
}
.particle-6 {
  position: absolute;
  top: 560px;
  right: 225px;
  width: 19px;
  height: 19px;
  border-radius: 4px;
  background-color: #323235;
  opacity: 0.2;
  -webkit-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  transform: rotate(23deg);
}
.particle-5 {
  position: absolute;
  top: 485px;
  right: 530px;
  width: 19px;
  height: 19px;
  border-radius: 4px;
  background-color: #323235;
  opacity: 0.2;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}
.particle-4 {
  position: absolute;
  top: 250px;
  right: 480px;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  background-color: #000;
  opacity: 0.2;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.particle-3 {
  position: absolute;
  top: 290px;
  right: 800px;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  background-color: #323235;
  opacity: 0.4;
  -webkit-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  transform: rotate(17deg);
}
.particle-2 {
  position: absolute;
  top: 460px;
  right: 760px;
  width: 38px;
  height: 38px;
  border-radius: 9px;
  background-color: #323235;
  opacity: 0.3;
  -webkit-transform: rotate(-26deg);
  -ms-transform: rotate(-26deg);
  transform: rotate(-26deg);
}
.particle-1 {
  position: absolute;
  top: 285px;
  right: 30px;
  width: 32px;
  height: 32px;
  border-radius: 9px;
  background-color: #323235;
  opacity: 0.4;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.about h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding: 150px;
  background-color: #eceff1;
  border-radius: 24px;
  cursor: pointer;
  transition: all 200ms ease-out;
}
.about h2:hover {
  box-shadow: 0 0 25px -10px;
  transform: scale(1.03);
}
.about p {
  font-size: 22px;
}
#work {
  padding: 200px 0;
}
